.post-box{
  background: #FFFF;
  border: 1px solid lightgray;
  width: 300px;
  margin: 20px;
}

.profileDetails{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 5px;
}
.avater{
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border-radius: 50px;
  margin-right: 10px;
}
.postImage{
  object-fit: contain;
  max-width: 300px;
  height: auto;
  width: 100vw;
}
.post-box h5{
  margin: 10px;
  font-weight: normal;
}